filelists
*/model_test_wav/*
*/source_model_test_wav/*
*/kaldi_style_files/*
*/DUMMY1/*
DUMMY2
DUMMY3
JSUT
logs
*/logs
*/logs-batchsize16
__pycache__
.ipynb_checkpoints
.*.swp

build
*.c
monotonic_align/monotonic_align
trashbin.txt
